/.vs/
/.vscode/
/.x64/
/.idea/
/debug/
/Debug/
/release/
/Release/
/out/
/install/
/bin/
/lib/
/cmake-build-debug/
/cmake-build-release/
/cmake_build/
/build/
CMakeFiles/
*.bak
*.ilk
*.pdb
*.obj
/tools/mcaes/*.vcxproj
/tools/maes/*.sln
/CMakeCache.txt
*.vcxproj
*.filters
*.cmake
*.sln
